<form [formGroup]="RegForm" (ngSubmit)="onRegistration()">


    <div class="row">
        <div class="form-group mb-3">
            <label class="mb-2">FirstName</label>
            <input type="text" formControlName="FirstName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['FirstName'].errors }" />

            <div *ngIf="submitted && f['FirstName'].errors" class="invalid-feedback">
                <div *ngIf="f['FirstName'].errors">FirstName is required</div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="form-group mb-3">
            <label class="mb-2">LastName</label>
            <input type="text" formControlName="LastName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['LastName'].errors }" />

            <div *ngIf="submitted && f['LastName'].errors" class="invalid-feedback">
                <div *ngIf="f['LastName'].errors">LastName is required</div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="form-group mb-3">
            <label class="mb-2">UserName</label>
            <input type="text" formControlName="UserName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['UserName'].errors }" />

            <div *ngIf="submitted && f['UserName'].errors" class="invalid-feedback">
                <div *ngIf="f['UserName'].errors">UserName is required</div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="form-group mb-3">
            <label class="mb-2">Email</label>
            <input type="text" formControlName="Email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['Email'].errors }" />

            <div *ngIf="submitted && f['Email'].errors" class="invalid-feedback">
                <div *ngIf="f['Email'].errors">Email is required</div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="form-group mb-3">
            <label class="mb-2">Password</label>
            <input type="text" formControlName="Password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['Password'].errors }" />

            <div *ngIf="submitted && f['Password'].errors" class="invalid-feedback">
                <div *ngIf="f['Password'].errors">Password is required</div>
            </div>
            
        </div>
    </div>
     

    

    <button type="submit" class="btn btn-success me-3">Submit</button>
    
</form>

